
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>calcul de l'IMC</title>
</head>
<body>
    <a href="/acceuil">Acceuil</a>
    <a href="/historique">historique</a>
    <link rel="stylesheet" href="../css/style.css">

    <div id="form1">
        <h3>calcul de l'imc</h3>
        <form action="/acceuil" method="post">     
            <div>
                <label for="date">Nom</label>
                <input type="text" name="date" value="<%= date  %>" > 
            </div>
            <div>
                <label for="hauteur">hauteur</label>
                <input type="text" name="hauteur" value="<%= hauteur  %>" > 
            </div>
            <div>
                <label for="poids">poids</label>
                <input type="text" name="poids" value="<%= poids  %>" >
            </div>
            <div>
                <input type="submit" value="Envoyer">
            </div>
        </form>
    </div>
</body>
</html>
