<head>
    <meta charset="UTF-8">
    <title>historique</title>
</head>
<body>
    <a href="/acceuil">Acceuil</a>
    <a href="/historique">historique</a>
    <link rel="stylesheet" href="/css/style.css">

    <div id="form2">
        <h3>Historique des IMC</h3>
         <table>
            <tr> <td> Date </td> <td> Imc </td></tr>
           

            
         </table>    
         
    </div>
</body>
</html>
